HELP.md

### Secrets / Local Environment ###
.env
*.env
.env.*
!.env.example

application-local.properties
**/application-local.properties

### Maven / Backend ###
target/
.mvn/wrapper/maven-wrapper.jar
*.class

# Keep target folders inside src if needed
!**/src/main/**/target/
!**/src/test/**/target/

### Frontend ###
node_modules/
frontend/node_modules/
dist/
build/
frontend/dist/
frontend/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Keep build folders inside src if needed
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db